.staff
  .staff__cont.cont
    h2.staff__title.title
      | Укрепляем вашу уверенность
      |
      span.staff__title-span всесторонней поддержкой
    p.staff__text.text-big.
      Мы создаём сообщество предпринимателей, где вы всегда сможете получать экспертные
      рекомендации и мотивацию. С вами на связи будут не только представители головной
      компании, но и партнёры из других регионов. Совместно мы будем обмениваться опытом,
      обсуждать задачи и достигать целей
    .staff__btn-box
      a.staff__btn.btn-yellow(href='#') НАЧАТЬ
