header.header
	.header__cont.cont
		img.header__logo(src=`${pathImg}ic_logo.svg` alt='лого')
		a.header__contact(href='tel:88000000000')
			span.header__contact-phone 8 800 000 00 00
			span.header__contact-note Бесплатная консультация
